/* ------------------------------
  header.scss PC
------------------------------ */

.header {
  position: sticky;
  z-index: 2;
  top: -2px;
  padding: 25px 40px;
  border-top: 0 solid $bg;
  background: $white;

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__logo {
    height: 64px;
  }

  &__button {
    @include button;
    width: 157px;
  }
}

