/* ------------------------------
  variables.scss PC
------------------------------ */

// 文字サイズ
$heading01: 40px;
$heading02: 28px;
$heading03: 20px;
$font-small: 14px;
$font-base: 16px;
$font-large: 18px;

