/* ------------------------------
  heading.scss SP
------------------------------ */

.heading01 {
  margin-bottom: 30px;
  font-size: $heading01;
  font-weight: $bold;

  &--smaller {
    font-size: $heading02;
  }

  &--center {
    text-align: center;
  }

  &--main {
    margin-bottom: 0;
    padding: 40px 0;
  }
}

.heading02 {
  margin-bottom: 30px;
  font-size: $heading03;
  font-weight: $bold;

  &--scroll {
    scroll-margin-top: 64px;
  }
}

.heading03 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: $heading04;
  font-weight: $bold;

  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 30px;
    border-radius: 55px;
    background: $main;
  }
}
