/* ------------------------------
  variables.scss SP
------------------------------ */

// 文字サイズ
$heading01: 28px;
$heading02: 24px;
$heading03: 20px;
$heading04: 18px;
$font-small: 14px;
$font-base: 16px;
$font-large: 18px;

