/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  /*	vertical-align:middle;*/
}

li {
  list-style: none;
}

/* ------------------------------
  image-url.scss
------------------------------ */
/* ------------------------------
  variables.scss
------------------------------ */
@media screen and (max-width: 959.9px) {
  /* ------------------------------
    variables.scss SP
  ------------------------------ */
  /* ------------------------------
    anchor.scss PC
  ------------------------------ */
  .anchor-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  /* ------------------------------
    base.scss SP
  ------------------------------ */
  body {
    box-sizing: border-box;
    width: 100vw;
    background-color: #f7fbff;
    color: #000;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
  .main__inner {
    margin: 0 auto;
    padding: 0 20px;
  }
  .main-top__inner {
    margin: 0 auto;
    padding: 0 20px;
  }
  .text:not(:last-child) {
    margin-bottom: 40px;
  }
  .text--center {
    text-align: center;
  }
  .text--line {
    line-height: 2;
  }
  .ly-section {
    margin-bottom: 60px;
    scroll-margin-top: 64px;
  }
  .access-map iframe {
    width: 100%;
    height: 100%;
  }
  /* ------------------------------
    business.scss PC
  ------------------------------ */
  .business {
    margin-bottom: 60px;
    scroll-margin-top: 64px;
  }
  .business-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .business-box__image {
    text-align: center;
  }
  .business-box__image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* ------------------------------
    button.scss SP
  ------------------------------ */
  .button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    padding: 20px;
    border-radius: 34px;
    background: #365486;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  .button--link {
    position: relative;
    min-width: 100%;
  }
  .button--link::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 30px;
    width: 18px;
    height: 9px;
    background: url("../images//ico/right-arrow.svg");
  }
  .button--tel::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    background: url("../images//ico/tel.svg");
  }
  .button--email::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 13.2px;
    margin-right: 12px;
    background: url("../images//ico/email.svg");
  }
  .button-box {
    display: flex;
    justify-content: center;
  }
  .button-anchor {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    padding: 20px;
    border-radius: 34px;
    background: #365486;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: auto;
    padding: 10px;
    border: 3px solid #365486;
    background: #fff;
    color: #365486;
  }
  /* ------------------------------
    footer.scss SP
  ------------------------------ */
  .footer {
    box-sizing: border-box;
    background: #fff;
  }
  .footer__text {
    padding: 3.74vw 5.34vw;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  /* ------------------------------
    header.scss SP
  ------------------------------ */
  .header {
    position: sticky;
    z-index: 2;
    top: -4px;
    padding: 10px 20px;
    background: #fff;
  }
  .header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .header__logo {
    height: 44px;
  }
  .header__button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    padding: 20px;
    border-radius: 34px;
    background: #365486;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: auto;
    padding: 10px;
  }
  /* ------------------------------
    heading.scss SP
  ------------------------------ */
  .heading01 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
  }
  .heading01--smaller {
    font-size: 24px;
  }
  .heading01--center {
    text-align: center;
  }
  .heading01--main {
    margin-bottom: 0;
    padding: 40px 0;
  }
  .heading02 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
  }
  .heading02--scroll {
    scroll-margin-top: 64px;
  }
  .heading03 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
  }
  .heading03::before {
    content: "";
    display: block;
    width: 6px;
    height: 30px;
    border-radius: 55px;
    background: #365486;
  }
  /* ------------------------------
    hero.scss SP
  ------------------------------ */
  .hero {
    position: relative;
    height: 53.34vw;
    margin: 2.14vw 0 14.67vw 5.34vw;
    border-radius: 10px 0 0 10px;
    background-image: url("../images//common/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-box {
    position: absolute;
    bottom: 6.94vw;
    left: -5.33vw;
    box-sizing: border-box;
    padding: 15px 20px;
    background: #fff;
  }
  .hero-box__text {
    font-weight: 700;
  }
  /* ------------------------------
    message.scss SP
  ------------------------------ */
  .message {
    margin-bottom: 60px;
    scroll-margin-top: 64px;
  }
  .message__inner {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .message__image {
    width: 50%;
    margin: 0 auto;
  }
  .message__image img {
    border-radius: 10px;
  }
  .message-seal {
    font-weight: 700;
    text-align: right;
  }
  .message-seal__text:not(:last-child) {
    margin-bottom: 10px;
  }
  .message-seal__text span {
    margin-left: 20px;
    font-size: 20px;
  }
  /* ------------------------------
    recruit.scss SP
  ------------------------------ */
  .recruit {
    background: #e5efff;
  }
  .recruit-box__content {
    margin: 0 auto;
    padding: 0 20px;
    padding: 10.67vw 5.34vw 12vw;
  }
  .recruit-box__text {
    margin-bottom: 30px;
    font-weight: 700;
  }
  .recruit-box__button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .recruit-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 8px 0 40px;
    padding: 13px 30px;
    border-radius: 10px;
    background: #e5efff;
  }
  .recruit-link__item {
    color: #031633;
    font-weight: 700;
  }
  .recruit-flow {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .recruit-flow__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    gap: 18px;
    padding: 20px;
    border-radius: 10px;
    background: #e5efff;
  }
  .recruit-flow__step {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    min-width: 75px;
    color: #365486;
    font-size: 20px;
    font-weight: 700;
  }
  .recruit-flow__step span {
    font-size: 30px;
  }
  .recruit-flow__icon {
    display: none;
  }
  .recruit-flow__content {
    min-width: 202px;
  }
  .recruit-flow__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .recruit-flow__desc {
    text-align: left;
  }
  .recruit-flow__desc span {
    color: #365486;
    font-weight: 700;
  }
  /* ------------------------------
    table.scss PC
  ------------------------------ */
  .table {
    width: 100%;
  }
  .table__title {
    display: block;
    box-sizing: border-box;
    padding-bottom: 15px;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
  }
  .table__title--no-border {
    border-bottom: 0;
  }
  .table__data {
    display: block;
    box-sizing: border-box;
    padding-bottom: 30px;
    text-align: left;
    word-break: break-all;
    vertical-align: middle;
  }
  .table__data--double {
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 0;
  }
  .table__data--double:last-child {
    margin-bottom: 0;
  }
  .table__data--no-padding {
    padding-bottom: 0;
  }
  .only-sp {
    display: block;
  }
  .only-pc {
    display: none;
  }
}
@media screen and (min-width: 960px), print {
  /* ------------------------------
    variables.scss PC
  ------------------------------ */
  /* ------------------------------
    anchor.scss PC
  ------------------------------ */
  .anchor-link {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  /* ------------------------------
    base.scss PC
  ------------------------------ */
  body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f7fbff;
    color: #000;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
  .main__inner {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .text:not(:last-child) {
    margin-bottom: 40px;
  }
  .text--center {
    text-align: center;
  }
  .text--line {
    line-height: 2;
  }
  .text-bold {
    font-weight: 700;
  }
  .ly-section {
    margin-bottom: 90px;
    scroll-margin-top: 106px;
  }
  .ly-section:last-child {
    margin-bottom: 120px;
  }
  .ly-section--far {
    margin-bottom: 120px;
  }
  .ly-section--scroll {
    scroll-margin-top: 106px;
  }
  .ly-section__inner {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .access-map iframe {
    width: 100%;
    height: 400px;
  }
  /* ------------------------------
    business.scss PC
  ------------------------------ */
  .business {
    margin-bottom: 90px;
    scroll-margin-top: 106px;
  }
  .business__inner {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .business-box {
    display: flex;
    align-items: center;
    gap: 80px;
  }
  .business-box__content {
    flex: 2;
    max-width: 400px;
  }
  .business-box__image {
    flex: 1;
  }
  .business-box__image img {
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* ------------------------------
    button.scss PC
  ------------------------------ */
  .button {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 64px;
    padding: 20px;
    border-radius: 50px;
    background: #365486;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  .button:hover {
    opacity: 0.5;
  }
  .button--link {
    position: relative;
  }
  .button--link::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 30px;
    width: 18px;
    height: 9px;
    background: url("../images//ico/right-arrow.svg");
  }
  .button--tel::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    background: url("../images//ico/tel.svg");
  }
  .button--email::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 13.2px;
    margin-right: 12px;
    background: url("../images//ico/email.svg");
  }
  .button-box {
    display: flex;
    justify-content: center;
  }
  .button-anchor {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 64px;
    padding: 20px;
    border-radius: 50px;
    background: #365486;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: auto;
    padding: 10px;
    border: 3px solid #365486;
    background: #fff;
    color: #365486;
  }
  .button-anchor:hover {
    opacity: 0.5;
  }
  /* ------------------------------
    footer.scss PC
  ------------------------------ */
  .footer {
    box-sizing: border-box;
    background: #fff;
  }
  .footer__text {
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  /* ------------------------------
    header.scss PC
  ------------------------------ */
  .header {
    position: sticky;
    z-index: 2;
    top: -2px;
    padding: 25px 40px;
    border-top: 0 solid #f7fbff;
    background: #fff;
  }
  .header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .header__logo {
    height: 64px;
  }
  .header__button {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 64px;
    padding: 20px;
    border-radius: 50px;
    background: #365486;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: 157px;
  }
  .header__button:hover {
    opacity: 0.5;
  }
  /* ------------------------------
    heading.scss PC
  ------------------------------ */
  .heading01 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
  }
  .heading01--center {
    text-align: center;
  }
  .heading02 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
  }
  .heading02--scroll {
    scroll-margin-top: 106px;
  }
  .heading03 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  .heading03::before {
    content: "";
    display: block;
    width: 6px;
    height: 40px;
    border-radius: 55px;
    background: #365486;
  }
  /* ------------------------------
    hero.scss PC
  ------------------------------ */
  .hero {
    position: relative;
    height: 800px;
    margin: 8px 0 120px 150px;
    border-radius: 10px 0 0 10px;
    background-image: url("../images//common/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-box {
    position: absolute;
    bottom: 75px;
    left: -100px;
    box-sizing: border-box;
    padding: 20px 30px;
    background: #fff;
  }
  .hero-box__text {
    font-size: 40px;
    font-weight: 700;
  }
  /* ------------------------------
    message.scss PC
  ------------------------------ */
  .message {
    margin-bottom: 90px;
    scroll-margin-top: 106px;
  }
  .message__inner {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    gap: 60px;
  }
  .message__image img {
    border-radius: 10px;
  }
  .message-seal {
    font-weight: 700;
    text-align: right;
  }
  .message-seal__text:not(:last-child) {
    margin-bottom: 10px;
  }
  .message-seal__text span {
    margin-left: 20px;
    font-size: 20px;
  }
  /* ------------------------------
    recruit.scss PC
  ------------------------------ */
  .recruit {
    height: 574px;
    overflow-x: hidden;
    background: #e5efff;
  }
  .recruit__inner {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
  }
  .recruit-box {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 40px;
  }
  .recruit-box__content {
    width: 475px;
  }
  .recruit-box__image {
    width: 1020px;
  }
  .recruit-box__text {
    margin-bottom: 42px;
    font-size: 18px;
  }
  .recruit-box__button-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .recruit-link {
    display: flex;
    gap: 40px;
    margin: 30px 0;
    padding: 13px 30px;
    border-radius: 10px;
    background: #e5efff;
  }
  .recruit-link__item {
    color: #031633;
    font-weight: 700;
  }
  .recruit-flow {
    display: flex;
    justify-content: space-between;
  }
  .recruit-flow__item {
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    width: calc((100% - 40px) / 3);
    max-width: 340px;
    padding: 10px 40px 25px;
    border-radius: 10px;
    background: #e5efff;
    text-align: center;
  }
  .recruit-flow__item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: calc((100% - 80px) / 2);
    right: -60px;
    width: 80px;
    height: 80px;
    background: url("../images//ico/recruit-arrow.svg");
  }
  .recruit-flow__step {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
    color: #365486;
    font-size: 28px;
    font-weight: 700;
  }
  .recruit-flow__step span {
    font-size: 40px;
  }
  .recruit-flow__icon {
    width: 60px;
    margin: 0 auto 30px;
  }
  .recruit-flow__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .recruit-flow__desc {
    text-align: left;
  }
  .recruit-flow__desc span {
    color: #365486;
    font-weight: 700;
  }
  /* ------------------------------
    table.scss PC
  ------------------------------ */
  .table {
    width: 100%;
  }
  .table__title {
    box-sizing: border-box;
    width: 150px;
    padding: 30px 40px 30px 0;
    border-bottom: #000 1px solid;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
  }
  .table__title--no-border {
    border-bottom: 0;
  }
  .table__data {
    box-sizing: border-box;
    padding: 21px 12px 21px 0;
    border-bottom: #000 1px solid;
    font-size: 16px;
    text-align: left;
    word-break: break-all;
    vertical-align: middle;
  }
  .table__data--double {
    margin-bottom: 14px;
    padding: 0;
    border-bottom: 0;
  }
  .table__data--double:last-child {
    margin-bottom: 0;
  }
  .table__data--no-border {
    border-bottom: 0;
  }
  .only-sp {
    display: none;
  }
  .only-pc {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */